.container {
  width: 50%;
  margin: 0 auto;
}

canvas {
  width: 100%;
}

.button {
    padding: 10px 25px;
    background-color: $blue-color;
    color: $white-color;
    border: none;
  }   //here or in splash????
