.game {
    text-align: center;
    flex-direction: column;
    height: 100%;

    header {
      height: 50px;
      display: flex;
      align-items: center;
    }
    
    .lives {
      flex: 1;
    }
    
    .score {
      flex: 1;
    }
    
    .label {
      font-weight: bold; //in typo???
    }
    
    .value {
      font-style: italic; //in typo???
    }

    .canvas {
      border: 3px solid $red-color;
    }

    .buttons-mobile {
      display: flex;
      justify-content: space-between;

      div {
        flex: 1;
        text-align: left;
        
        &:last-child {
          text-align: right;
        }
      }


      .left {
        padding: 10px 25px;
        background-color: $blue-color;
        color: $white-color;
        border: none;
      }
  
      .right {
        padding: 10px 25px;
        background-color: $green-color;
        color: $white-color;
        border: none;
      }
    }
  }

  @media (min-width: 1025px) {
    .buttons-mobile {
      display: none;
    }
  }
  

  