.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;

  
    h1 {
      flex:1;
      margin-bottom: 40px;
      
    }
  
    .rules {
      flex:1;
    }
  
    .buttons {
      flex: 1;
      display: flex;
      justify-content: space-around;

      div {
        flex: 1;
      }

      .button {
        padding: 10px 55px;
        background-color: $blue-color;
        color: $white-color;
        border: none;
      }   //here or in components????
  
      .high-score-button {
        padding: 10px 25px;
        background-color: $yellow-color;
        color: $white-color;
        border: none;
      }
    }

  }



 