/* ---- reset ---- */

html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #FCFDFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
  h1 {
    font-weight: 700;
    font-size: 45px;
    color: #FFC60C;
  }
  
  h2 {}
  
  h3 {}
  
  p {
    margin: 0;
  }
  
  
  
  /* ---- layout ---- */

  html, body {
    height: 100%;
  }
  
  main {
    padding: 40px;
    display: flex;
    justify-content: center;
  }

  body {
    background-color: #0E1559;
  }
  
  
  
  
  /* ---- components ---- */
  
  .intro {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .intro h1 {
    flex:1;
    padding-top: 100px;
    margin-bottom: 40px;
    
  }

  .intro div {
    flex:1;
  }

  .intro button {
    flex: 1;
  }


  .button {
    padding: 10px 15px;
    background-color: #FFC60C;
    color: #fff;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
  }
  
  .game {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .game header {
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .game .lives {
    flex: 1;
  }
  
  .game .score {
    flex: 1;
  }
  
  .game .label {
    font-weight: bold;
  }
  
  .game .value {
    font-style: italic;
  }

  .game .canvas {
    flex: 1;
  }
  
  /* ---- section ---- */
  
  section.testimonials {
    // ...
  }
  
  section.testimonials .button {
    margin-bottom: 10px;
  }
